.space_left_content {
	padding-left: 5px;
}

.main_title {
	height: 55px;
	line-height: 55px;
	font-size: 2.188em;
	color: white;
	background: #ce3213;
	font-family: 'bentonsanscompbold';
	padding-left: 18px;
	margin-bottom: 12px;
}

.main_title a {
	color: white;
}

.news_item {
	padding-bottom: 15px;
}

.news_item.margin_top {
	margin-top: 10px;
}

.news_item.no_thumbnail {
	border-top: 1px solid #dedede;
	padding-top: 15px;
}

.news_item.no_thumbnail.no_border {
	border: 0px;
}

.news_item .thumbnail {
	position: relative;
	display: block;
}

.news_item .thumbnail .icon {
	top: 15px;
	right: 0px;
	width: 39px;
	height: 39px;
	position: absolute;
}

.news_item .thumbnail .icon.icon_photo {
	background: url(img/icons/photo_icon.png);
}

.news_item .thumbnail .icon.icon_video {
	background: url(img/icons/video_icon.png);
}

.news_item .thumbnail img {
	display: block;
}

.news_item .thumbnail .caption {
	position: absolute;
	color: #ABABAB;
	bottom: 0px;
}


.news_item .content {
	padding: 0px 5px 0px 5px;
}

.article_content .news_item .content {
	padding: 0px;
}

.news_item .content .info {
	color: #fabb85;
	padding-top: 10px;
	text-transform: uppercase;
	line-height: 1em;
	padding-bottom: 5px;
}

.news_item .content .title {

}

.news_item .content .title a {
	color: #005655;
}

.news_item .content.content_text.content_text_contrast .info,
.news_item .content.content_text.content_text_contrast .title a
{
	color: white;
}




.twitter_box {
	border: 4px solid #68dbff;
	position: relative;
}

.twitter_box ul {
	padding: 3px;
	font-size: 0.875em;
	padding-bottom: 20px;
}

.twitter_box ul li {
	background: url(img/icons/twitter.png) no-repeat 0px 3px;
	padding-left: 30px;
}

.twitter_box ul li:last-child {

}

.twitter_box ul li a {
	color: #606060;
}

.twitter_box ul li a .text {
	display: block;
	border-bottom: 1px solid #e8e8e8;
	padding: 2px 0px 2px 0px;
}

.twitter_box ul li:last-child a .text {
	border: 0px;
}

.twitter_box .follow_us {
	position: absolute;
	height: 25px;
	line-height: 25px;
	background: #68dbff;
	color: white;
	bottom: 0px;
	font-family: 'bentonsanscompbold';
	font-size: 1.05em;
	right: 30px;
	padding: 0px 5px;
}



.blue_box {
	background: #008584;
	color: white;
	padding: 20px;
	margin-bottom: 10px;
}

.blue_box.blue_box_posts {
	border-top: 3px solid #1e1d19;
	position: relative;
}

.blue_box.blue_box_posts .tabs_menu {
	font-family: 'bentonsanscompbold';
	position: absolute;
	top: 0px;
}

.blue_box.blue_box_posts .tabs_menu li {
	font-size: 1.25em;
	float: left;
	margin-right: 10px;
}

.blue_box.blue_box_posts .tabs_menu li a {
	color: white;
	height: 45px;
	line-height: 45px;
	display: block;
	padding: 0px 5px;
}

.blue_box.blue_box_posts .tabs_menu li a:hover,
.blue_box.blue_box_posts .tabs_menu li.current a
{
	background: #1e1d19;
	text-decoration: none;
}







.grey_ad {
	border: 1px solid #d2d2d2;
	background: #f4f4f4;
	padding: 10px;
	display: block;
}

.grey_ad img {
	display: block;
}


.orange_box {
	border: 1px solid #f69b4b;
	background: #ffddbf;
	margin-bottom: 10px;
}

.orange_box .people {
	padding: 10px;
}

.orange_box .navigation {
	text-align: center;
	padding-bottom: 10px;
}

.orange_box .navigation .arrow {
	display: inline-block;
}

.orange_box .navigation .arrow a {
	width: 20px;
	height: 10px;
	display: block;
}

.orange_box .navigation .arrow.arrow_left {
	margin-right: 8px;
}

.orange_box .navigation .arrow.arrow_left a {
	background: url(img/slider_pink_arrow_left.png);
}

.orange_box .navigation .arrow.arrow_right {
	margin-left: 8px;
}

.orange_box .navigation .arrow.arrow_right a {
	background: url(img/slider_pink_arrow_right.png);
}

.orange_box .navigation .dot {
	display: inline-block;
	margin: 0px 2px;
}

.orange_box .navigation .dot a {
	width: 9px;
	height: 9px;
	display: block;
	background: url(img/slider_pink_dot.png);
}

.orange_box .navigation .dot.current a,
.orange_box .navigation .dot a:hover
{
	background-position: bottom;
}

.orange_box .people_wrapper {
	overflow: hidden;
	margin-left: 10px;
}

.people .person {

}

.people .person .header {
	overflow: hidden;
	padding-bottom: 10px;
}

.people .person .header .thumbnail {
	float: left;
	margin-right: 10px;
}

.people .person .header .thumbnail img {

}

.people .person .header_field_1{
	line-height: 1em;
}
.people .person .header_field_2,
.people .person .header_field_3
{
	line-height: 1em;
}

.people .person .header_field_1 {
	color: #005655;
	padding-bottom: 10px;
}

.people .person .header_field_1 a {
	color: #005655;
}

.people .person .header_field_2 {
	color: #03508c;
}

.people .person .header_field_2 a {
	color: #03508c;
}

.people .person .header_field_3 {
	color: #03508c;
}

.people .person .header_field_3 a {
	color: #03508c;
}



.article_content {

}

.article_content .article_side_element {
	margin: 0px;
	position: relative;
}

.article_content .article_side_element.align_left {
	float: left;
}

.article_content .article_side_element.align_right {
	float: right;
}

.article_content .article_side_element.article_side_image {

}

.article_content .article_side_element.article_side_ad {
	background: #f4f4f4;
	padding: 10px;
	border: 1px solid #d2d2d2;
}

.article_content .article_side_element.article_side_attachments{
	clear:both;
	margin-top:10px;
}

.related_articles .red_title {
	color: #a40603;
}

.related_articles ul {
	font-family: 'bentonsanscompbold';
}

.related_articles ul li {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #d2d2d2;
}

.related_articles ul li:last-child {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.related_articles ul li a {
	color: #005655;
}





.other_columnists {
	padding: 10px 0px 20px 0px;
	border-top: 3px solid #e0e0e0;
	margin-top: 20px;
}

.other_columnists .section_title {
	padding-bottom: 15px;
}

.columnist_member .thumbnail {
	float: left;
	margin-right: 10px;
}

.columnist_member .text {
	padding: 0px 5px;
}

.columnist_member .name {
	color: #005655;
}

.columnist_member .name a {
	color: #005655;
}




.bloger {
	padding: 0px 10px 30px 0px;
	border-bottom: 2px solid #f5f5f5;
	margin-bottom: 20px;
}

.bloger .thumbnail {
	float: left;
}

.bloger .text {
	padding-left: 170px;
}

.section {
	padding: 0px 10px 30px 0px;
	border-bottom: 2px solid #f5f5f5;
	margin-bottom: 20px;
}

.section.no_border {
	border: 0px;
	padding-bottom: 10px;
}

.section .thumbnail {
	float: left;
}

.section .text {
	padding-left: 410px;
}


.bloger_news_items .news_item {
	overflow: hidden;
	padding-bottom: 20px;
}

.bloger_news_items .news_item .thumbnail {
	float: left;
	margin-right: 15px;
}





.contact .contact_boxes {
	padding-bottom: 15px;
}

.contact .contact_boxes .box {
min-height: 200px;
}

.contact .contact_boxes .box.box_first {
	text-align: right;
	border-right: 1px solid #fabb86;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.contact .contact_boxes .box.box_first .content {
	padding-right: 20px;
}

.contact .contact_boxes .box.box_second {

}

.contact .contact_boxes .box.box_second .content {

}

.contact .styled_form label,
.login_form.styled_form label
{
	text-align: right;
}

.contact .styled_form input {
	display: block;
}






.pagination {
	position: relative;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	margin: 10px 0px;
	font-family: 'bentonsanscompregular';
}

.pagination .arrow {
	position: absolute;
	display: block;
	top: 0px;
	height: 30px;
	line-height: 30px;
	background-repeat: no-repeat;
	color: #666666;
}

.pagination .arrow:hover {
	color: #01a7a3;
	text-decoration: none;
}

.pagination .arrow.arrow_left {
	left: 0px;
	background-position: left center;
	background-image: url(img/pagination_arrow_left.png);
	padding-left: 20px;
}

.pagination .arrow.arrow_right {
	right: 0px;
	background-position: right center;
	background-image: url(img/pagination_arrow_right.png);
	padding-right: 20px;
}

.pagination ul {
	text-align: center;
	font-size: 0.8em;
}

.pagination ul li {
	display: inline-block;
}

.pagination ul li a {
	color: #666666;
}

.pagination ul li a:hover {
	color: #01a7a3;
}

.pagination ul li.current a {
	font-size: 1.4em;
	color: #01a7a3;
	font-family: 'bentonsanscompbold';
}



.search_area.extended {
	border-bottom: 2px solid #f5f5f5;
	padding-bottom: 15px;
}

.search_area.extended input[type="text"] {
	width: 240px;
}

.search_area.extended .radio_field {
	float: left;
	font-size: 0.9em;
	padding: 0px 10px 0px 20px;
	font-family: 'bentonsanscompbold';
}

.search_area.extended .radio_field label {

}

.search_area.extended .radio_field input[type="radio"] {
	position: relative;
	top: -2px;
}








